/* 9.transform.css */
*{padding:0; margin:0; box-sizing: border-box;}

article{
    width:100%; height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{margin-bottom:40px;}

.scale{ width:400px; overflow: hidden;}
.scale > img{ width:100%; transition: 0.5s; }

.scale:hover > img{
    transform: scale(1.2);
}

/* rotate */
.rotate{
    width:400px;
    background-color:#ddd;
}
.rotate > img{ 
    transform-origin: 0% 100%;
    width:100%; transition: 0.5s;
}
.rotate:hover > img{
    transform: rotate(45deg);
}


/* rotate2 */
.rotate2{
    width:400px;
    background-color:#ddd;
}
.rotate2 > img{
    width:100%; transition: 1s;
}
.rotate2:hover > img{
    transform: perspective(600px) rotateY(180deg) ;
}


/* rotate2 */
.rotate3{
    width:400px;
    background-color:#ddd;
}
.rotate3 > img{
    width:100%; transition: 1s;
    transform-origin: left center;
}
.rotate3:hover > img{
    transform: perspective(600px) rotateY(40deg) ;
}

/* translate */
.translate{
    width:400px; 
}
.translate > img{
    width:100%;
    transition: 0.5s;
}
.translate:hover > img{
    transform: translate(-5%, -5%);
    box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}

/* skew */
.skew{
    border:1px solid #000;
    transform: perspective(600px) rotateX(40deg);
    transform-origin: center bottom;
    transition: 0.5s;
}
.skew > p{
    background-color: #ff0;
    padding:50px; 
}
.skew:hover{
    transform: perspective(600px) rotateX(0deg);
}
.skew::after{    
    background-color: rgba(0,0,0,0.4);
    content:'';
    width:100%; height:50%;
    position:absolute; left:0; bottom:0;
    z-index:-2;
    transform-origin: left bottom;
    transition: 0.5s;
}
.skew:hover::after{
    transform: skew(-40deg);
}
.ex{
    width:600px; 
    overflow: hidden;
    border:1px solid #000;
    display: flex; 
}
.ex > p{
    width:50%; height:400px;
    background-color: #ddd;
    transition: 1s;
    display: flex; justify-content: center;
    align-items: center;
}
.ex:hover > p:nth-child(1){
    transform: translateX(-100%);
}
.ex:hover > p:nth-child(2){
    transform: translateX(100%);
}

/* ex2 */
.ex2{
    width:50px; height:20px;
    position:relative
}
.ex2 > span{
    position:absolute; left:0; 
    width:100%; border-top:3px solid #000;
    transition: 0.5s;
}
.ex2 > span:nth-child(1){ top:0; }
.ex2 > span:nth-child(2){ top:50%; transform: translateY(-50%);}
.ex2 > span:nth-child(3){ bottom:0; }


.ex2:hover > span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);
}
.ex2:hover > span:nth-child(3){
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
}

.ex2 + .menu{    
    position:fixed;
    right:0; top:40%; 
    background-color: #000;
    padding:60px;
    transform: translate(100%);
    transition: 0.5s;
}
.ex2 + .menu a{color:#fff}
.ex2:hover + .menu{    
    transform: translate(0%);
}

